<%- include("./partials/header") %>
    <main>
    <h2 class="title">Welcome to Cluckr!</h2>
    <br>
    <h3 class="title">Sign In at the top right corner!</h3>
  </main>

<%- include("./partials/footer") %>